<h3>Add new task</h3>

<form action="" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="task">Task</label>
        <textarea name="task" id="task" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="img">Image</label>
        <input type="file" id="img" name="img" required>
    </div>
    <input type='button' id='preview' class="btn btn-info" value='Предварительный просмотр'>
    <input type="submit" class="btn btn-success">
</form>

<br>

<div id="view">

</div>